* {
  box-sizing: border-box;
}

body {
  background-color: #73c431;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* секция 1 */

:root {
  --rubber: calc(100vw / 1920);
}

.section_1 {
  position: relative;
  overflow: hidden;
  background-color: #73c431;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 5vw;
  margin-right: 5vw; */
}

/* сетка для кругов */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, calc(90 * var(--rubber)));
  grid-auto-rows: calc(90 * var(--rubber));
  gap: calc(12 * var(--rubber));
}

.dot-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.dot {
  background-color: white;
  border-radius: 50%;
  pointer-events: auto;
}

/* цетральный круг */
.main-circle {
  width: calc(900 * var(--rubber));
  height: calc(900 * var(--rubber));
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
  border-radius: 50%;
}

.main-circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* размеры точек */
.dot1 {
  width: calc(30 * var(--rubber));
  height: calc(30 * var(--rubber));
  animation-delay: -1.2s;
}

.dot2 {
  width: calc(40 * var(--rubber));
  height: calc(40 * var(--rubber));
  animation-delay: -0.5s;
}

.dot3 {
  width: calc(50 * var(--rubber));
  height: calc(50 * var(--rubber));
  animation-delay: -2s;
}

.dot4 {
  width: calc(50 * var(--rubber));
  height: calc(50 * var(--rubber));
  animation-delay: -3s;
}

.dot5 {
  width: calc(80 * var(--rubber));
  height: calc(80 * var(--rubber));
  animation-delay: -0.2s;
}

.dot6 {
  width: calc(36 * var(--rubber));
  height: calc(36 * var(--rubber));
  animation-delay: -1.5s;
}

.dot7 {
  width: calc(44 * var(--rubber));
  height: calc(44 * var(--rubber));
  animation-delay: -2.2s;
}
.dot8 {
  width: calc(120 * var(--rubber));
  height: calc(120 * var(--rubber));
  animation-delay: -0.1s;
}
.dot9 {
  width: calc(20 * var(--rubber));
  height: calc(20 * var(--rubber));
  animation-delay: -3.5s;
}
.dot10 {
  width: calc(24 * var(--rubber));
  height: calc(24 * var(--rubber));
  animation-delay: -0.8s;
}
.dot11 {
  width: calc(58 * var(--rubber));
  height: calc(58 * var(--rubber));
  animation-delay: -1.9s;
}
.dot12 {
  width: calc(60 * var(--rubber));
  height: calc(60 * var(--rubber));
  animation-delay: -2.8s;
}
.dot13 {
  width: calc(50 * var(--rubber));
  height: calc(50 * var(--rubber));
  animation-delay: -1s;
}
.dot14 {
  width: calc(130 * var(--rubber));
  height: calc(130 * var(--rubber));
  animation-delay: -3s;
}
.dot15 {
  width: calc(140 * var(--rubber));
  height: calc(140 * var(--rubber));
  animation-delay: 0s;
}
.dot16 {
  width: calc(50 * var(--rubber));
  height: calc(50 * var(--rubber));
  animation-delay: -1.4s;
}
.dot17 {
  width: calc(15 * var(--rubber));
  height: calc(15 * var(--rubber));
  animation-delay: -2.1s;
}
.dot18 {
  width: calc(45 * var(--rubber));
  height: calc(45 * var(--rubber));
  animation-delay: -0.4s;
}
.dot19 {
  width: calc(48 * var(--rubber));
  height: calc(48 * var(--rubber));
  animation-delay: -1.7s;
}
.dot20 {
  width: calc(8 * var(--rubber));
  height: calc(8 * var(--rubber));
  animation-delay: -2.5s;
}
.dot21 {
  width: calc(20 * var(--rubber));
  height: calc(20 * var(--rubber));
  animation-delay: -3.2s;
}
.dot22 {
  width: calc(40 * var(--rubber));
  height: calc(40 * var(--rubber));
  animation-delay: -1s;
}
.dot23 {
  width: calc(22 * var(--rubber));
  height: calc(22 * var(--rubber));
  animation-delay: -2s;
}
.dot24 {
  width: calc(18 * var(--rubber));
  height: calc(18 * var(--rubber));
  animation-delay: -0.5s;
}
.dot25 {
  width: calc(12 * var(--rubber));
  height: calc(12 * var(--rubber));
  animation-delay: -1.5s;
}

/* секция 2 */
.section_2 {
  display: flex;
  height: auto;
  width: 100%;
  background-color: #161616;
  flex-direction: row;
  padding: 0.5%;
}

.circle-block {
  position: relative;
  width: calc(25%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-background {
  width: 100%;
  height: auto;
  z-index: 1;
}

/* насекомые и лягушка в кружках */
.insect-halftone {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.insect-halftone img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.insect-halftone:hover {
  transform: translate(-50%, -50%) scale(1.5);
}

/* бегущая строка */
.marquee-section {
  width: 100%;
  height: 200px;
  background-color: #73c431;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.marquee-content {
  display: flex;
  align-items: center;
  position: absolute;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.marquee-content:hover {
  animation-play-state: paused;
}

.marquee-svg {
  height: 150px;
  margin: 10px 50px;
}

.main-container {
  display: flex;
  width: 100%;
  min-height: 600px;
}

/* блок с падающими буквами */
.falling-letters-section {
  flex: 1;
  min-width: 0;
  min-height: 600px;
  background-image: url("../images/section_3/background.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.falling-letter {
  height: 30vh;
  position: absolute;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.falling-letter:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.fall-1 {
  animation-name: fall-1;
}
.fall-2 {
  animation-name: fall-2;
}
.fall-3 {
  animation-name: fall-3;
}
.fall-4 {
  animation-name: fall-4;
}
.fall-5 {
  animation-name: fall-5;
}
.fall-6 {
  animation-name: fall-6;
}
.fall-7 {
  animation-name: fall-7;
}
.fall-8 {
  animation-name: fall-8;
}
.fall-9 {
  animation-name: fall-9;
}
.fall-10 {
  animation-name: fall-10;
}
.fall-11 {
  animation-name: fall-11;
}

.right-container {
  width: 38%;
  min-width: 300px;
  max-width: 720px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* блок "РИСУЙ ЖУЧКА" */
.draw-section {
  width: 100%;
  height: 40%;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 14%;
  padding-bottom: 16%;
  transition: all 0.3s ease;
}

.draw-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw-letter {
  height: 60px;
  filter: blur(5px);
  transition: all 0.4s ease;
}

.draw-section:hover .draw-letter {
  filter: blur(0);
  transform: scale(2);
}

/* блок с кружочками */
.circles-section {
  width: 100%;
  height: 65%;
  background-color: #2a2a2a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1px;
  padding: 0.5%;
  overflow: hidden;
}

.circle {
  width: calc((100% - 13px) / 14);
  height: calc((100% - 14px) / 15);
  max-width: 50px;
  max-height: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #060000;
  transition: background-color 3s ease;
  cursor: pointer;
  flex-shrink: 1;
}

.circle:hover {
  background-color: #73c431;
  transition-duration: 0.03s;
}

/* блок с муравьями */
.ants-marquee-section {
  width: 100%;
  height: 200px;
  background-color: #e8e8e8;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.ants-marquee-content {
  display: flex;
  align-items: center;
  gap: 65px;
  position: absolute;
  width: max-content;
  animation: ants-marquee 20s linear infinite;
}

.ants-marquee-section:has(.ant-wrapper:hover) .ants-marquee-content {
  animation-play-state: paused;
}

.ants-marquee-section:has(.ant-wrapper:hover) .ant-wrapper {
  animation-play-state: paused;
}

.ant-wrapper {
  position: relative;
  width: 200px;
  height: 160px;
  cursor: pointer;
}

.ant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: filter 0.3s ease;
}

.ant-normal {
  opacity: 1;
}

.ant-black {
  display: none;
}

.ant-wrapper:hover .ant-normal {
  filter: brightness(0) saturate(0);
}

/* анимация поворота муравьев */
.ant-wrapper {
  animation: ant-rotate 1.5s ease-in-out infinite;
}

.ant-wrapper:nth-child(2n) {
  animation: ant-rotate-reverse 1.5s ease-in-out infinite;
}

.ant-wrapper:nth-child(3n) {
  animation: ant-rotate 1.5s ease-in-out infinite;
}

.ant-wrapper:nth-child(4n) {
  animation: ant-rotate-reverse 1.5s ease-in-out infinite;
}

/* блок со стрекозой */
.dragonfly-section {
  width: 30%;
  min-width: 250px;
  background-image: url("../images/section_3/moss-big.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dragonfly {
  width: 100%;
  max-width: 500px;
  height: auto;
  filter: blur(8px);
  transition: filter 0.3s ease;
  cursor: pointer;
}

.dragonfly:hover {
  filter: blur(0);
  animation: shake 0.1s infinite;
}

/* блок с буквами "ЖДЁМ ТЕБЯ" */
.letters-section {
  width: 70%;
  background-color: #c2ff91;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 5px;
}

.letter-circle {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid transparent;
  transition: all 0.5s ease;
}

/* фоны для каждой буквы */
.letter-circle[data-letter="ж"] {
  background-image: url("../images/section_3/leaf-new.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.letter-circle[data-letter="д"] {
  background-color: #2a2a2a;
}

.letter-circle[data-letter="ё"] {
  background-image: url("../images/section_3/moss-1.jpg");
  background-size: cover;
  background-position: center;
}

.letter-circle[data-letter="м"] {
  background-image: url("../images/section_3/bark.jpg");
  background-size: cover;
  background-position: center;
  /* border-radius: 50%; */
}

.letter-circle[data-letter="т"] {
  background-color: #ededed;
}

.letter-circle[data-letter="е"] {
  background-image: url("../images/section_3/bark-moss.jpg");
  background-size: cover;
  background-position: center;
}

.letter-circle[data-letter="б"] {
  background-image: url("../images/section_3/leaf-new.jpg");
  background-size: cover;
  background-position: center;
}

.letter-circle[data-letter="я"] {
  background-color: #2a2a2a;
}

.circle-letter {
  width: 70%;
  height: 70%;
  object-fit: contain;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.letter-circle:hover .circle-letter {
  opacity: 1;
  transform: scale(1);
}

/* контейнер для стрекозы и букв */
.bottom-container {
  display: flex;
  width: 100%;
  min-height: 400px;
}

/* нижняя бегущая строка */
.footer-marquee-section {
  width: 100%;
  height: 200px;
  background-color: #73c431;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.footer-marquee-content {
  display: flex;
  align-items: center;
  position: absolute;
  width: max-content;
  animation: marquee 20s linear infinite;
}
.footer-marquee-content:hover {
  animation-play-state: paused;
}

.footer-marquee-svg {
  height: 180px;
  margin: 10px 35px;
  margin-top: 25px;
}
